.bcg-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c27bd8;
  background-image: linear-gradient(135deg, #f39ccc 0%, #b587e0 100%);
}

.form-settings {
  width: 480px;
}
