.bcg-color {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c27bd8;
  background-image: linear-gradient(135deg, #f39ccc 0%, #b587e0 100%);
}

.bcg-main-color {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #9cacff;
  background-image: linear-gradient(43deg, #9cacff 2%, #d170ff 66%);
}

.bcg-administrar-consultas {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  
}

.bcg-imprimir-color {
  position: absolute;
  width: 100%;
  height: 15000px;
  position: absolute;
  background-color: white;
  color: black;
  overflow: auto;
}

.btn-info-paciente {
  background-color: #8ec5fc;
}

.btn-info-paciente:hover {
  background-color: #3975b9;
}

.btn-regresar-registrar {

  position: relative;
  top: 3rem;
  right: 30rem;

}

.btn-regresar-pacientes {

  position: relative;
  right: 30rem;
  bottom: 40rem;

}

.btn-regresar-pacientes-menu {

  position: relative;
  left: 5rem;
  bottom: 5rem;

}

.busqueda {
  background-color: white;
  color: black;
  width: 30%;
  height: 40px;
  padding-left: 35px;
  font-size: 1.2em;
}

.busqueda::placeholder {
  color: gray;
}

.busqueda:focus {
  background-color: white;
  color: black;
}

.busqueda-icono {
  margin-right: 6px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  color: black;
  bottom: 32px;
  left: 10px;
}

.form-settings {
  overflow: scroll;
  width: 480px;
}

.fila {
  cursor: pointer;
}
