.bcg-color {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c27bd8;
  background-image: linear-gradient(135deg, #f39ccc 0%, #b587e0 100%);
}

.bcg-main-color {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #9cacff;
  background-image: linear-gradient(43deg, #9cacff 2%, #d170ff 66%);
}

.bcg-imprimir-color {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  color: black;
  overflow: auto;
}

.btn-info-paciente {
  background-color: #8ec5fc;
}

.btn-info-paciente:hover {
  background-color: #3975b9;
}

.btn-regresar-registrar {

  position: relative;
  top: 3rem;
  right: 30rem;

}

.form-settings {
  overflow: scroll;
  width: 480px;
}
